


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Register student</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <form role="form" action="register" method="post">
                       {% csrf_token %}
                       {{form.as_p}}
                       
                        <!-- /.card-body -->
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary btn-block">Add Student</button>
                        </div>
                      </form>
                    </div>
                    <!-- /.card -->
        
                    <!-- general form elements -->
  
                  </div>
            </div>
        </div>
    </section>
