{% extends 'hod/base_template.html' %}
{% block main_content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Add Department</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                    </br>
                      <body>
                      <form role="form" action="add_department" method="post">
                        {% csrf_token %}
                        Department Name: <input type="text" name="name"/><br/>
                        <input type="submit" value="Post"/>
                      </form>
                      </body>
                    <!-- /.card -->
                    <!-- general form elements -->
                  </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
      