{% extends 'hod/base_template.html' %}
{% block main_content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Staff Details</h3>
      
                      <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
      
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Course</th>
                            <th>Designation</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for staff in staff %}
                          <tr>
                            <td>{{staff.user}}</td>
                            <td>{{staff.department}}</td>
                            <td>{{staff.course}}</td>
                            <td><span class="tag tag-success">faculty</span></td>
                            <td><a href="{% url 'hod:update_staff' staff.id %}" class ="btn btn-success">Edit</a> </td>
                            <td><a href="{% url 'hod:delete_staff' staff.id %}" class ="btn btn-success">Delete Staff</a> </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
      
